@*
Text input field using Component Library Styles as  documented:
    Label: http://hmrc.github.io/assets-frontend/section-label.html
    Input http://hmrc.github.io/assets-frontend/section-text-input.html

    @param field Field The form field the input value represents
    @param args options arguments for the template
            '_labelText -> Text for the field label
            '_labelClass -> Label Modifier class
            '_modifierClass -> Modifier class for the input class, includes:
                input--xxsmall, input--xsmall, input--small,  input--normal,
                input--fullwidth, input--no-spinner, input--cleared,
                input--link
*@

@(field: Field, args: (Symbol, String)*)

@import play.api.i18n._
@import views.html.helper._
@import views.html.helpers._


@argsMap = @{ args.toMap }
@elements = @{ new FieldElements(field.id, field, null, argsMap, lang) }

@value = @{ field.value match { case Some(x) => x case None => "" case x => x }}

@labelWrap('labelText -> argsMap.getOrElse('label, ""), 'for -> elements.field.name, '_after -> "true", '_modifierClass -> argsMap.get('_labelClass)){
    @fieldErrors(field)
    <span class="input-currency@if(elements.args.get('_modifierClass) ){ @elements.args.get('_modifierClass)}"><input type="number"
        @if( elements.args.contains('_dataAttributes) ){ @elements.args.get('_dataAttributes)}
        class="input--left-padding@if( elements.args.get('_inputClass) ){ @elements.args.get('_inputClass)}"
        @if( elements.args.get('_autoComplete) ){ autocomplete="@elements.args.get('_autoComplete)" }
        name="@elements.field.name" id="@elements.field.name" value="@value"
        @if(elements.args.get('_error_id).isDefined) { aria-labeledby="@elements.args.get('_error_id)" }
        @if(elements.args.get('_hintId).isDefined) { aria-describedby="@elements.args.get('_hintId)" }
        @if(elements.args.get('_maxlength).isDefined) { maxlength="@elements.args.get('_maxlength)" }
        @if(elements.args.get('_max).isDefined) { max="@elements.args.get('_max)" }
        @if(elements.args.get('_pattern).isDefined) { pattern="@elements.args.get('_pattern)" }
        @if(elements.args.get('_title).isDefined) { title="@elements.args.get('_title)" }
        @if(elements.args.get('_required).isDefined) { required }
    /></span>
}

